.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: red solid 3px;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

.navBlock {
  width: 50%;
  height: 100%;
  display: inline-flex;
  border: orange solid 3px;
}

.navLogoContainer {
  width: 50%;
  height: 100%;
  margin: auto;
  border: blue solid 3px;
}

.navIconContainer {
  width: 50%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  border: green solid 3px;
}

.navbar .mainNavContainer {
  width: 50%;
  height: 100%;
  /* display: flex;
  display: inline-flex;
  align-items: center; */
  justify-content: space-evenly;
  border: purple solid 3px;
}

img.navLogo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 5px 5px 5px 5px;
}

img.navIcon {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  object-fit: cover;
}
