.navbar {
  border: solid red 1px;
}

h1 {
  text-align: center;
}

/* TODO - add function to change logo based on screeen size */
img.navLogo {
  width: auto;
  height: 80px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
