/*
main darkBurgundy - 800000
secondary murkyOrange - 803a00
secondary - murkyGreen 006600
*/

.mainContainer {
  display: grid;
  place-items: left;
}

.mainGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-items: center;
  justify-content: flex-end;
  row-gap: 20px;
}

#profileImage {
  width: 230px;
  float: right;
  position: absolute;
  margin: 0px 0px 15px 15px;
  object-fit: cover;
  opacity: 20%;
  padding: 10px;
}

.textCardContainer {
  width: 50%;
  margin-right: 20%;
  margin-left: 20%;
  padding: 5px;
  height: 60vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition: width 0.5s, height 1s, transform 0.5s;
  transform-style: preserve-3d;

  /* box-shadow: 5px 10px #efefef; */
  z-index: 1;
}

#bio.textCardContainer {
  display: block;
  border: 2px solid rgb(248, 248, 248);
  font-size: smaller;
  text-align: left;
  /* height: fit-content;*/
  word-wrap: break-word;
  transition: width 2s, height 3s, transform 2s;
  transform-style: flat;
  transition-property: width;
}

#timeline.textCardContainer {
  display: block;
  width: 90vw;
  border: 2px solid rgb(248, 248, 248);
  font-size: smaller;
  text-align: left;
  word-wrap: break-word;
  transition: width 2s, height 2s, transform 1s;
  transform-style: flat;
  transition-property: width;
}

#links.textCardContainer {
  display: block;
  display: block;
  border: 2px solid rgb(248, 248, 248);
  font-size: smaller;
  text-align: left;
  word-wrap: break-word;
  transition: width 2s, height 2s, transform 1s;
  transform-style: flat;
  transition-property: width;
}

#blog.textCardContainer {
  display: block;
  display: block;
  border: 2px solid rgb(248, 248, 248);
  font-size: smaller;
  text-align: left;
  word-wrap: break-word;
  transition: width 2s, height 2s, transform 1s;
  transform-style: flat;
  transition-property: width;
}

#landingContent.textCardContainer {
  display: block;
  display: block;
  border: 2px solid rgb(248, 248, 248);
  font-size: smaller;
  text-align: left;
  word-wrap: break-word;
  transition: width 2s, height 2s, transform 1s;
  transform-style: flat;
  transition-property: width;
}

#landingHeader {
  text-align: center;
}

.landingGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.landingGridItem {
  width: 160px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  border: solid 6px #800000;
  border-radius: 10%;
}

h1.landingGridItem {
  justify-content: center;
  align-items: center;
}

p.cardText::after {
  content: "\a";
  white-space: pre;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .textCardContainer {
    width: 90%;
    margin-right: 10%;
    margin-left: 10%;
  }
  #profileImage {
    opacity: 10%;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .textCardContainer {
    width: 90%;
    margin-right: 10%;
    margin-left: 10%;
  }
  #profileImage {
    opacity: 10%;
  }
  #timeline.textCardContainer {
    width: 90vw;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .textCardContainer {
    width: 80%;
    margin-right: 20%;
    margin-left: 20%;
  }
  #profileImage {
    opacity: 10%;
  }
  #timeline.textCardContainer {
    width: 90vw;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .textCardContainer {
    width: 80%;
    margin-right: 20%;
    margin-left: 20%;
  }
  #profileImage {
    opacity: 10%;
  }
  #timeline.textCardContainer {
    width: 90vw;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .textCardContainer {
    width: 80%;
    margin-right: 20%;
    margin-left: 20%;
  }
  #profileImage {
    opacity: 10%;
  }
  #timeline.textCardContainer {
    width: 90vw;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .textCardContainer {
    width: 80%;
    margin-right: 20%;
    margin-left: 20%;
  }
  #profileImage {
    opacity: 10%;
  }
  #timeline.textCardContainer {
    width: 90vw;
  }
}
