/*
main darkBurgundy - 800000
secondary murkyOrange - 803a00
secondary - murkyGreen 006600
*/

.mainContainer {
  display: grid;
  place-items: left;
  border: 1px solid red;
}

.mainGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  justify-items: center;
  justify-content: flex-end;
  row-gap: 20px;
}

#profileImage {
  width: 220px;
  float: left;
  position: fixed;
  margin: 0px 0px 15px 15px;
  object-fit: cover;
}

.textCardContainer {
  width: 80%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #800000;
  border: 8px solid #ff771b;
  border-radius: 25px;
  transition: width 0.5s, height 1s, transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 5px 10px #e0dfdf;
  z-index: 1;
}

#Bio.cardText.textCardContainer {
  display: block;
  background-color: #ffac1b;
  color: #800000;
  border: 8px solid #ff771b;
  font-size: smaller;
  text-align: left;
  width: 720px;
  height: fit-content;
  /* padding: 5%; */
  word-wrap: break-word;
  transition: width 2s, height 3s, transform 2s;
  transform-style: flat;
  transition-property: width;
}

#Skills.cardBodyText.textCardBodyContainer {
  display: block;
  background-color: #ffac1b;
  color: #800000;
  border: 8px solid #ff771b;
  font-size: smaller;
  text-align: left;
  width: 220px;
  word-wrap: break-word;
  transition: width 2s, height 2s, transform 1s;
  transform-style: flat;
  transition-property: width;
}

#Timeline.cardText.textCardContainer {
  display: block;
  background-color: #ffac1b;
  color: #800000;
  border: 8px solid #ff771b;
  font-size: smaller;
  text-align: left;
  width: 220px;
  word-wrap: break-word;
  transition: width 2s, height 2s, transform 1s;
  transform-style: flat;
  transition-property: width;
}

#Links.cardText.textCardContainer {
  display: block;
  background-color: #ffac1b;
  color: #800000;
  border: 8px solid #ff771b;
  font-size: smaller;
  text-align: left;
  width: 220px;
  word-wrap: break-word;
  transition: width 2s, height 2s, transform 1s;
  transform-style: flat;
  transition-property: width;
}

p.cardText::after {
  content: "\a";
  white-space: pre;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .cardText.textCardContainer {
    width: 220px;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .cardText.textCardContainer {
    width: 360px;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .cardText.textCardContainer {
    width: 480px;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
